Source: shapeblue-ccs
Section: libs
Priority: extra
Maintainer: Shape Blue Ltd <CCS-help@shapeblue.com>
Build-Depends: debhelper (>= 7), openjdk-7-jdk | openjdk-8-jdk, maven3 | maven (>= 3)
Standards-Version: 3.8.1
Homepage: http://packages.shapeblue.com/

Package: shapeblue-ccs
Architecture: all
Depends: cloudstack-management (>= 4.5.0)
Description: CloudStack Container Service Plugin
 The CloudStack Container Service plugin from ShapeBlue
